# Keep following lines sorted according to `LC_COLLATE=C sort`
*.code-workspace
*.eml
*.iml
*.log
*.pyc
*.sublime-*
*.swp
*~
.DS_Store
js-to-ts.sh
/.apt_generated
/.apt_generated_tests
/.bazel_path
/.classpath
/.factorypath
/.idea
/.ijwb
/.metadata
/.project
/.settings/org.eclipse.ltk.core.refactoring.prefs
/.settings/org.eclipse.m2e.core.prefs
/.settings/org.maven.ide.eclipse.prefs
/.vscode
/bazel-*
/bin/
/bower_components/
/eclipse-out
/extras
/gerrit-package-plugins
/infer-out
/local.properties
/node_modules/
/package-lock.json
/plugins/*
!/plugins/.eslintignore
!/plugins/.eslintrc.js
!/plugins/.prettierrc.js
!/plugins/package.json
!/plugins/rollup.config.js
!/plugins/tsconfig.json
!/plugins/tsconfig-plugins-base.json
!/plugins/yarn.lock
!/plugins/BUILD
!/plugins/codemirror-editor
!/plugins/commit-message-length-validator
!/plugins/delete-project
!/plugins/download-commands
!/plugins/external_plugin_deps.bzl
!/plugins/gitiles
!/plugins/hooks
!/plugins/plugin-manager
!/plugins/replication
!/plugins/reviewnotes
!/plugins/singleusergroup
!/plugins/webhooks
/test_site
/tools/format
/tools/maven/gerrit-*_pom.xml.asc
/tools/node_tools
/tools/polygerrit-updater
/.ts-out/*
!/.ts-out/README.md
# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files, which are likely to contain sensitive data, such as
# password, private keys, and other secrets. These should not be part of version 
# control as they are data points which are potentially sensitive and subject 
# to change depending on the environment.
*.tfvars
*.tfvars.json

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override files you do wish to add to version control using negated pattern
# !example_override.tf

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*

# Ignore CLI configuration files
.terraformrc
terraform.rc
