packages:
  yum:
    git: []
commands:
  01_service:
    command: systemctl stop app
    ignoreErrors: true
  02_dir:
    command: mkdir -p /home/webapp/gerrit
    ignoreErrors: true
  03_dir:
    command: mkdir -p /efs/git
    ignoreErrors: true
  04_dir:
    command: mkdir -p /efs/db
    ignoreErrors: true
  05_dir:
    command: mkdir -p /efs/index
    ignoreErrors: true
  06_dir:
    command: mkdir -p /efs/cache
    ignoreErrors: true
  07_dir:
    command: mkdir -p /efs/etc
    ignoreErrors: true
  08_ownership:
    command: chown webapp:webapp -R /efs/* /home/webapp/gerrit
