commands:
  01_dir:
    command: ln -s /efs/git /home/webapp/gerrit/git
    ignoreErrors: true
  02_dir:
    command: ln -s /efs/cache /home/webapp/gerrit/cache
    ignoreErrors: true
  03_dir:
    command: ln -s /efs/etc /home/webapp/gerrit/etc
    ignoreErrors: true
  04_dir:
    command: ln -s /efs/db /home/webapp/gerrit/db
    ignoreErrors: true
  05_dir:
    command: ln -s /efs/index /home/webapp/gerrit/index
    ignoreErrors: true
container_commands:
  06_change:
    command: "git config -f /home/webapp/gerrit/etc/gerrit.config --replace-all auth.type 'DEVELOPMENT_BECOME_ANY_ACCOUNT'"
  07_change:
    command: "export url=$(aws elasticbeanstalk describe-environments --environment-names gerritappenv --query 'Environments[*].CNAME' --output t
ext --region us-east-1)"
  08_change:
    command: "git config -f /home/webapp/gerrit/etc/gerrit.config --replace-all gerrit.canonicalWebUrl $url"
  09_change:
    command: "systemctl restart app"