commands:
  01_dir:
    command: ln -s /efs/git /home/webapp/gerrit/git
    ignoreErrors: true
  02_dir:
    command: ln -s /efs/cache /home/webapp/gerrit/cache
    ignoreErrors: true
  03_dir:
    command: ln -s /efs/etc /home/webapp/gerrit/etc
    ignoreErrors: true
  04_dir:
    command: ln -s /efs/db /home/webapp/gerrit/db
    ignoreErrors: true
  05_dir:
    command: ln -s /efs/index /home/webapp/gerrit/index
    ignoreErrors: true
